<div id="diePopup" class="popup">
    <p>You Died!</p>
    <button id="restartButton">Restart</button>
</div>

 <!-- Game Over Screen -->
<div id="gameOverScreen" class="game-over-screen">
    <h1>Game Over</h1>
    <p id="finalScore">Score: 0</p>
    <button id="restartGameButton">Restart Game</button>
</div>

<!-- Winner Screen -->
<div id="winnerScreen" class="winner-screen">
    <h1>Congratulations!</h1>
    <p id="finalScore">Your Final Score: 0</p>
    <button id="restartGameButton">Play Again</button>
</div>